

<h3>Upload a file</h3>
<div>
    <form enctype="multipart/form-data" method="post" asp-controller="UploadCV" asp-action="UploadFile">
        <input  type="file" name="file"/>
        <button type="submit">Upload</button>
    </form>
</div>