@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form enctype="multipart/form-data" method="post"  asp-controller="CVTemplates" asp-action="Uploadfile">
        <input  type="file" />
        <button type="submit">Upload</button>
    </form>
</div>